.usercontact_overlay {
    background-color: grey;
    opacity: 0.8;
    position: absolute;
    padding: 0.5em;
    margin-top: -1em;
}

div.dokuwiki .usercontact_overlay ul {
    margin: 0 0 0 2em;
}
